<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.artc.core.mapper.UserMapper">

    <sql id="userColumns">
            id,
            family_name,
            given_name,
            nick_name,
            sex,
            id_card,
            head_img_url,
            email,
            mobile,
            login_name,
            salt,
            password,
            state,
            admin
    </sql>

    <select id="findUserByLoginName" resultType="org.artc.core.entity.User">
        SELECT
            <include refid="userColumns"/>
        FROM
            sys_user
        WHERE
            login_name = #{loginName}
        AND
            deleted = 0
    </select>

    <insert id="insert">
        INSERT INTO sys_user
            (
                id,
                family_name,
                given_name,
                nick_name,
                sex,
                id_card,
                head_img_url,
                email,
                mobile,
                login_name,
                salt,
                password,
                admin,
                created,
                creator
            )
        VALUES
            (
                #{id},
                #{familyName},
                #{givenName},
                #{nickName},
                #{sex},
                #{idCard},
                #{headImgUrl},
                #{email},
                #{mobile},
                #{loginName},
                #{salt},
                #{password},
                #{admin},
                #{created},
                #{creator}
            )
    </insert>

    <select id="findById" resultType="org.artc.core.entity.User">
        SELECT
            <include refid="userColumns"/>
        FROM
            sys_user
        WHERE
            id = #{id}
        AND
            deleted = 0
    </select>

    <select id="findAll">
        SELECT
            <include refid="userColumns"/>
        FROM
            sys_user
        WHERE
            deleted = 0
    </select>

    <update id="update">
        UPDATE sys_user
        <set>
            <if test="familyName != null">family_name=#{familyName},</if>
            <if test="givenName != null">given_name,=#{givenName},</if>
            <if test="nickName != null">nick_name=#{nickName,},</if>
            <if test="sex != null">sex=#{sex}</if>
            <if test="idCard != null">id_card=#{idCard}</if>
            <if test="headImgUrl != null">head_img_url=#{headImgUrl}</if>
            <if test="email != null">email=#{email}</if>
            <if test="mobile != null">mobile=#{mobile}</if>
            <if test="edited != null">edited=#{edited}</if>
            <if test="editor != null">editor=#{editor}</if>
        </set>
        WHERE id=#{id}
    </update>

    <update id="delete">
        UPDATE
            sys_user
        SET
            deleted = 1
        WHERE
            id = #{id}
    </update>

    <delete id="unbindRole">
        DELETE FROM sys_user_role where user_id = #{id}
    </delete>

    <insert id="bindRole">
        INSERT INTO sys_user_role (user_id, role_id)
        <foreach collection="roles" item="role" separator="union all">
            SELECT #{id}, #{role.id}
        </foreach>
    </insert>
</mapper>